/*
 
  BOX SIZING

*/
html,
body {
  box-sizing: border-box;
  background: rgb(56, 53, 53, 0.5);
}

div,
article,
section,
main,
footer,
header,
form,
fieldset,
pre,
code,
p,
ul,
ol,
li,
dl,
dt,
dd,
textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="url"],
.border-box {
  box-sizing: border-box;
}
